*{
    box-sizing: border-box; /*Recalcula el padding y el border para que no se salga de pantalla esto va siempre en las hojas*/
    padding: 0;
    margin: 0;
}

/*main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}*/